@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body{
    background: rgb(8,110,18);
    background: -moz-linear-gradient(176deg, rgba(8,110,18,1) 28%, rgba(178,21,180,1) 87%);
    background: -webkit-linear-gradient(176deg, rgba(8,110,18,1) 28%, rgba(178,21,180,1) 87%);
    background: linear-gradient(176deg, rgba(8,110,18,1) 28%, rgba(178,21,180,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#086e12",endColorstr="#b215b4",GradientType=1); 
}

header{
    background:url(img/cc18109e-18a4-4f01-a35b-be91dddb6701-profile_banner-480.png)no-repeat;
    background-size: 100%;
  
}


#nav, .duo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.final .final2{
    display:flex;
}

.Sduo {
    display: flex;
    align-items: center;
    
    flex-direction: column;
}


nav a{ 
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'major mono display', sans-serif;
}



.contenair2{
    border:  2px solid gray;
    margin: 20px;

}
.contenairA{
    display:flex;
    justify-content: center;
}

.contenair1{
    display: flex;
    justify-content: center;
}
.contenair2{
    display: flex;
    justify-content: space-around;
}

.flex{
    height: 100px;
    width: 300px;
    margin: 20px;
    background-color: rgb(88, 88, 88);
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tuermoi{
    height: 150px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 20px;
    background-image: url(img/saintasonia-title.png);
    background-size: 100%;
    background-repeat:no-repeat;
    


}

#pasdidee{
    border:  2px solid gray;
    margin: 20px;
    justify-content: space-around;
    display: flex;
    background: url(img/wallpapersden.com_dc-comic-joker-art_2560x1080.jpg)no-repeat;
    background-size: 100%;
    
}

#heart, #spade, #clover, #diamond{
    height: 300px;
    width: 600px;
    margin: 20px;
    font-size: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Major Mono Display', monospace; 
}


.hd{
    display: flex;
    flex-direction:column ;
    color: rgb(79, 10, 143);
}

.sc{
    display: flex;
    flex-direction: column;
    color:rgb(24, 160, 35) ;
}

.sc, .hd{
    justify-content: space-between;
}

img{
    width: 150px;
    height: 150px;
}

